// -----------------------------------------------------------------------------
// This file contains styles for the about me section
// -----------------------------------------------------------------------------

#about-me {
  background-color: $alt-bg;
  overflow-x: hidden;
  @include vendor('background', 'linear-gradient(to bottom, #{$blue-bg}, #{$alt-bg})');

  h4 {
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $light-text;
    margin-bottom: 5%;
    margin-top: 10%;
    // text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

    span {
      border-bottom: 1px dashed $highlight;
    }

    @include breakpoint('<=small') {
      font-size: 1.5em;
    }
  }

  p {
    font-size: 1em;
    font-family: $default;
    font-weight: 300;
    color: $light-text;
    text-align: justify;

    @include breakpoint('<=small') {
      font-size: 0.8em;
    }
  }

  a {
    color: $light-text;
    text-decoration: none;
  }

  #email {
    color: $highlight;

    &:hover {
      text-decoration: underline;
    }
  }

  #mainPicture {
    margin-top: 35%;
    max-width: 185px;

    @include breakpoint('<=medium') {
      margin-top: 15px;
      margin-bottom: 5%;
      padding-right: 0;
    }

    @include breakpoint('<=small') {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 145px;
    }
  }

  .testimonial {
    margin-top: 10%;
    margin-bottom: 5%;

    p {
      color: $highlight;
      font-size: 16px;
      font-weight: 400;

      span {
        font-style: italic;
        font-size: 16px;
        font-weight: 400;

        @include breakpoint('<=small') {
          font-size: 14px;
        }
      }

      @include breakpoint('<=small') {
        font-size: 14px;
      }
    }
  }

  @include breakpoint('<=small') {
    .about-text {
      margin-bottom: 25%;
    }
  }
}

@include breakpoint('<=xsmall') {
  #intro {
    margin-top: 25px;
  }
}
