// -----------------------------------------------------------------------------
// This file contains styles for the dividing image component
// -----------------------------------------------------------------------------

#divider-img {
  height: 450px;
  z-index: -1000;
	background-image: url('../images/big-sur.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  
  @include breakpoint('<=medium') {
    background-attachment: local;
  }
}
  