// -----------------------------------------------------------------------------
// This file contains styles for the logo component
// -----------------------------------------------------------------------------

.brand-logo {
  margin-top: 18px;

  img {
    width: 33px;
    height: auto;
  }
}