// -----------------------------------------------------------------------------
// This file contains styles for the resume container button with outline animation
// -----------------------------------------------------------------------------

.resume-container {
  margin-top: 5%;
  margin-left: 14.5%;
  height: 60px;
  position: relative;
  width: 305px;
  text-decoration: none;

  span {
    letter-spacing: 2px;
    line-height: 32px;
    position: relative;
    display: inline-block;
    top: -50px;
    text-align: center;
    color: $light-text;
    text-decoration: none;
    font-size: 1em;
    font-family: $default;
    font-weight: 300;
    color: $light-text;
    @include vendor('transition', 'all 0.5s');
    @include vendor('transform', '0.78s ease-in-out');
  }

  .border-animate {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: $highlight;
  }

  &:hover {
    .border-animate {
      @include vendor('animation', '0.5s draw linear forwards')
    }

    span {
      @include vendor('transform', 'scale(1.1)')
    }
  }

  @include breakpoint('<=medium') {
    margin-left: 28.5%;
  }

  @include breakpoint('<=small') {
    margin-left: 4%;
  }
}

@-moz-keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

