#work {
  background-color: $bg-white;
  padding-top: 7rem;

  h4 {
    margin-bottom: 3rem;
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $dark-text;
    text-align: center;

    @include breakpoint('<=small') {
      font-size: 1.4em;
    }
  }

  h5 {
    font-size: 1.25em;
    font-family: $display-text;
    font-weight: 500;
    color: $light-text;
  }

  #websites {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1260px;
  }

  #code-projects {
    margin-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1260px;
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $wave2;
    background: -webkit-linear-gradient(to right, $wave2, $wave1);
    background: linear-gradient(to right, $wave2, $wave1);
  }

  .card-collapse {
    background: $wave2;
    background: -webkit-linear-gradient(to right, $wave2, $wave1);
    background: linear-gradient(to right, $wave2, $wave1);

    p {
      color: $light-text;
      font-size: 1em;
      font-family: $default;
      font-weight: 400;
    }

    .collapse-content {
      min-height: 420px;
    }
  }

  .card-action {
    a {
      margin: 0;
      padding: 0;
      color: $highlight;
      font-size: 1em;
      font-family: $default;
      font-weight: 400;
    }
  }
}

/* styling for videos on project cards */
video::-webkit-media-controls {
  display: none !important;
}