#work {
  background-color: $bg-white;
  padding-top: 7rem;

  h4 {
    margin-bottom: 3rem;
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $dark-text;
    text-align: center;

    @include breakpoint('<=small') {
      font-size: 1.4em;
    }
  }

  h5 {
    font-size: 1.1em;
    font-family: $display-text;
    font-weight: 500;
    text-transform: uppercase;
    color: $light-text;
  }

  #websites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.5rem;
    max-width: 1260px;
  }

  #code-projects {
    margin-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1260px;
  }

  
  @include breakpoint('<=small') {
    padding-top: 5rem;
  }
}