#work {
  background-color: $bg-white;
  padding-top: 8rem;

  h4 {
    margin-bottom: 3rem;
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $dark-text;
    text-align: center;

    @include breakpoint('<=small') {
      font-size: 1.4em;
    }
  }

  h5 {
    font-size: 1.5em;
    font-family: $display-text;
    font-weight: 500;
    color: $light-text;
    padding: 4%;
    float: left;
  }

  .clearfix {
    overflow: auto;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .card-body {
    background: $wave2;
    background: -webkit-linear-gradient(to right, $wave2, $wave1);
    background: linear-gradient(to right, $wave2, $wave1);
  }

  .card-collapse {
    background: $wave2;
    background: -webkit-linear-gradient(to right, $wave2, $wave1);
    background: linear-gradient(to right, $wave2, $wave1);
  }

  .card-action {
    a {
      margin: 0;
      padding: 0;
      color: $highlight;
      font-size: 0.6em;
      font-family: $default;
      font-weight: 400;
    }
  }
}

/* styling for videos on project cards */
video::-webkit-media-controls {
  display: none !important;
}