// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.material-icons {
  color: $light-text !important;
}

.material-icons.active {
  color: $highlight !important;
}

.page-footer {
  color: #9e9e9e;
  font-family: $display-text;
  font-weight: 500;
  height: 250px;
  padding-top: 2%;

  p {
    margin-top: 3%;
    margin-bottom: -2%;
    font-size: 11px;

    i {
      color: $highlight;
    }

    @include breakpoint('<=small') {
      margin-top: 15%;
    }
  }

  .top-btn-container {
    margin: 0 auto;
    width: 50px;
    height: 50px;

    @include breakpoint('<=small') {
      padding-bottom: 10%;
    }
  }

  .back-to-top {
    i {
      color: #9e9e9e;
      @include vendor('transition', 'all 0.5s');
      @include vendor('transform', 'translateY(5px)');
    }

    &:hover i {
      color: $highlight;
      @include vendor('transform', 'translateY(-7px)');
    }
  }
}


.footer-links {
  margin-top: 1%;
  list-style-type: none;

  li {
    display: inline-block;
    padding: 0.5em;
    margin: 0 10px;
  }
}

.footer-a {
  display: block;
  color: #9e9e9e;
  text-align: center;
  cursor: pointer;

  i {
    color: #9e9e9e;
  }

  &:hover i {
    color: $highlight;
  }
}
