// -----------------------------------------------------------------------------
// This file contains all styles related to the top navigation layout component.
// -----------------------------------------------------------------------------

.navigation {
  height: 65px;

  #logo-link {
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;

    img {
      width: 33px;
      height: auto;
      margin-top: 18px;
    }
  }

  ul {
    height: 65px;
    color: $light-text;
    font-family: $default;
    font-weight: 500;

    li {
      position: relative;
      cursor: pointer;
      height: 25px;
      margin-left: 5px;
      margin-right: 5px;

      &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        bottom: 0px;
        content: '';
        background: $highlight;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        pointer-events: none;
        z-index: -2;
        opacity: 0.95;
        @include vendor('transition', 'all 0.3s ease-in-out');
      }

      &:hover {
        &:before {
          height: 100%;
        } 
      }

      &.active:before {
        height: 100%;
      }

      a {
        color: $light-text;
        text-decoration: none;
        z-index: 5;

        span {
          line-height: 25px;

          @include breakpoint('<=small') {
            line-height: 18px;
            font-size: 14px;
          }

          @include breakpoint('<=xxsmall') {
            line-height: 14px;
            font-size: 12px;
          }
        }

        @include breakpoint('<=xxsmall') {
          padding: 0 8px;
        }
      }

      @include breakpoint('<=small') {
        height: 18px;
      }

      @include breakpoint('<=xxsmall') {
        height: 14px;
      }
    }
  }
}

.underline {
  span {
    vertical-align: middle;
    @include vendor('transform', 'perspective(1px) translateZ(0)');
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: $highlight;
      height: 2.75px;
      @include vendor('transition-property', 'left, right');
      @include vendor('transition-duration', '0.3s');
      @include vendor('transition-timing-function', 'ease-out');
    }

    &:hover:before, :focus:before, :active:before {
      left: 0;
      right: 0;
    }
  }
}
