// -----------------------------------------------------------------------------
// This file contains styles for the main body content wrappers for each section
// -----------------------------------------------------------------------------

#landing {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
  pointer-events: none;
  overflow-x: hidden;

  @include breakpoint('<=small') {
    margin-top: -25%;
  }
}
