// -----------------------------------------------------------------------------
// This file contains styles for the about me section
// -----------------------------------------------------------------------------

#about-me {
  background-color: $bg-white;
  padding-top: 8rem;

  #profile-pic {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 2.5rem;
    margin-right: 2.5rem;
  }

  .about-row {
    overflow: hidden;
  }

  .about-text {
    padding-right: 2.5rem;
  }

  h4 {
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $dark-text;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;

    @include breakpoint('<=small') {
      font-size: 1.5em;
    }
  }

  p {
    font-size: 1em;
    font-family: $default;
    font-weight: 300;
    color: $dark-text;
    text-align: justify;

    @include breakpoint('<=small') {
      font-size: 0.8em;
    }
  }

  a {
    color: $dark-text;
    text-decoration: none;
  }

  #email {
    color: $highlight;

    &:hover {
      text-decoration: underline;
    }
  }

  .testimonial {
    margin-top: 10%;
    margin-bottom: 5%;

    p {
      color: $highlight;
      font-size: 16px;
      font-weight: 400;

      span {
        font-style: italic;
        font-size: 16px;
        font-weight: 400;

        @include breakpoint('<=small') {
          font-size: 14px;
        }
      }

      @include breakpoint('<=small') {
        font-size: 14px;
      }
    }
  }

}

@include breakpoint('<=xsmall') {
  #intro {
    margin-top: 25px;
  }
}
