// -----------------------------------------------------------------------------
// This file contains styles for the eclipse component on the landing page
// -----------------------------------------------------------------------------

#particles-js {
  background: $alt-bg;
  @include vendor('background', 'linear-gradient(to bottom, #{$bg-dark}, #{$blue-bg})');
}

#sun {
  margin-left: 27.5%;
  margin-top: -18%;
}

#eclipsed {
  width: 660px;
  height: auto;
}

#sun-link {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 57%;
  top: 26%;

  @include breakpoint("<=medium") {
    display: block;
    height: 90px;
    width: 90px;
    position: absolute;
    left: 69%;
    top: 36%;
  }

  @include breakpoint("<=small") {
    display: block;
    height: 75px;
    width: 75px;
    position: absolute;
    left: 69%;
    top: 34%;
  }
}

.particles-js-canvas-el {
  height: 100vh !important;
}

@include breakpoint("<=medium") {
  #sun {
    margin-left: 28.5%;
    margin-top: -18%;
  }
}

@include breakpoint('<=small') {
  #sun {
    margin-left: 28.5%;
    margin-top: -18%;
    width: 380px;
    height: auto;
  }

  #eclipsed {
    width: 380px;
    height: auto;
  }
}