// -----------------------------------------------------------------------------
// This file contains styles for the projects section
// -----------------------------------------------------------------------------

#projects {
  background-color: $alt-bg;
  @include vendor('background', 'linear-gradient(to bottom, #{$alt-bg}, #{$blue-bg})');

  h4 {
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 2em;
    font-family: $display-text;
    font-weight: 500;
    color: $light-text;
    // text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

    span {
      border-bottom: 1px dashed $highlight;
    }

    @include breakpoint('<=small') {
      font-size: 1.4em;
    }
  }

  h5 {
    font-size: 1em;
    font-family: $default;
    font-weight: 400;
    color: $light-text;
    padding: 4%;
    font-style: italic;
  }

  h6 {
    font-size: 1em;
    font-family: $default;
    font-weight: 400;
    font-style: italic;
    color: $light-text;
    padding: 2%;
  }

  .card-title {
    font-size: 0.8em;
    font-family: $default;
    font-weight: 400;
    color: $light-text;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 2%;

    i {
      @include vendor('transition', 'all 0.4s');
      font-size: 22px;
      margin-left: 0;
      color: $light-text !important; 

      &:hover {
        color: $highlight !important;
      }
    }
  }

  .card-content > p > a {
    color: $highlight;
    font-size: 0.8em;
    font-family: $default;
    font-weight: 400;
  }

  .card-action {
    p {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('flex-wrap', 'no-wrap');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'space-evenly');

      a {
        margin: 0;
        padding: 0;
        color: $highlight;
        font-size: 0.6em;
        font-family: $default;
        font-weight: 400;
      }
    }
  }

  .card-reveal {
    P {
      font-size: 0.7em;
      font-family: $default;
      font-weight: 300;
      color: $light-text;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #000;
    }

    &::-webkit-scrollbar {
      width: 7px;
	    background-color: #000;
    }

    &::-webkit-scrollbar-thumb {
	    background-color: $highlight;
    }
  }
}


/* styling for videos on project cards */
video::-webkit-media-controls {
  display: none !important;
}

.activator video {
  @include vendor('object-fit', 'cover');
  width: 100%;
  height: 100%;
}