// -----------------------------------------------------------------------------
// This file contains styles for the skills section with wave animations
// -----------------------------------------------------------------------------

.box {
  position: relative;
  overflow: hidden;
  border-radius: 3%;
  min-height: 325px !important;
  width: 425px;
  font-size: 1.35rem;
  font-family: $default;
  font-weight: 400;
  margin-top: 5%;

  ul {
    color: rgba(0,0,0,0.9);
    padding-top: 5%;
    width: 100%;
    z-index: 1;
    line-height: 32px;
    text-align: center;
    @include vendor('transform', 'translate3d(0, 0, 0)');
  }

  @include breakpoint('<=large') {
    font-size: 1em;
    min-height: 295px !important;
    width: 350px;
  }
}

.skills {
  margin-bottom: 10%;

  h4 {
    padding-top: 2.5%;
  }

  .skills-wrapper {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'row');
    @include vendor('flex-wrap', 'wrap');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'space-evenly');

  }

  @include breakpoint('<=small') {
    overflow-x: hidden;
  }
}

.wave {
  width: 900px;
  height: 875px;
  position: absolute;
  overflow-x: hidden !important;
  top: -30%;
  left: 60%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 42%;
  background: $highlight;

  @include breakpoint('<=large') {
    width: 631px;
    height: 623px;
    top: 51%;
    left: 117%;
    margin-left: -555px;
    margin-top: -500px;
  }

  @include breakpoint('<=small') {
    width: 600px;
    height: 575px;
  }

  @include breakpoint('<=xsmall') {
    width: 600px;
    height: 597px;
    margin-left: -625px;
    margin-top: -475px;
    top: 48.5%;
    left: 150%;
  }
}

.wave-one {
  @include vendor('animation', 'wave 19s infinite linear');
}

.wave-two {
  @include vendor('animation', 'wave 35s infinite linear');
}

.wave-three {
  @include vendor('animation', 'wave 28s infinite linear');
}

@-moz-keyframes wave {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}