// -----------------------------------------------------------------------------
// This file contains styles for the main body content wrappers for each section
// -----------------------------------------------------------------------------

#landing {
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  pointer-events: none;
}
