#navigation {
  position: relative;
  z-index: 997;

  nav {
    height: 52px;
    box-shadow: none;
    position: fixed;
    width: 100%
  }

  #logo-link {
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;

    img {
      width: 33px;
      height: auto;
      margin-top: 18px;

      @include breakpoint('<=medium') {
        margin-top: 10px;
      }

      @include breakpoint('<=small') {
        margin-top: 8px;
      }
    }
  }

  ul {
    height: 64px;
    color: $light-text;
    font-family: $default;
    font-weight: 500;
    float: right;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    li {
      position: relative;
      cursor: pointer;
      margin-left: 2px;
      margin-right: 2px;
      -webkit-transition: background-color .3s;
      transition: background-color .3s;
      float: left;
      padding: 0;

      a {
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 8px 15px;
        cursor: pointer;

        &:before {
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0px;
          top: 0px;
          content: '';
          background: $highlight;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          pointer-events: none;
          z-index: -2;
          opacity: 0.95;
          transition: all 0.3s ease-in-out;
        }
  
        &:hover {
          &:before {
            height: 100%;
          } 
        }
  
        &.active:before {
          height: 100%;
        }

        color: $light-text;
        text-decoration: none;
        z-index: 5;

        span {
          line-height: 25px;
          transition: color 0.35s;

          @include breakpoint('<=small') {
            line-height: 18px;
            font-size: 14px;
          }

          @include breakpoint('<=xxsmall') {
            line-height: 14px;
            font-size: 12px;
          }
        }

        @include breakpoint('<=xxsmall') {
          padding: 0 8px;
        }
      }
    }
  }
}